.Contact{
    &__content{
        padding: 20px;

        &__header-text{
            color:var(--yellow-theme-sub-text-color);
            display: inline-block;
            font-size: 22px;
            font-weight: 600;
            line-height: 1em;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            padding: 5px 20px;
            font: size 50px;

            border-bottom: 2px solid var(--yellow-theme-main-color);
        }
        

        &__header-text::before{
            left: 0;
        }
        &__header-text::after{
            right: 0;
        }
        &__Form{
            margin-top: 10px;

            &__ControlsWrapper{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 40px;
            margin-bottom: 30px;
            margin-top: 45px;
            
            div{
                position: relative;
                .inputName,.inputEmail,.inputDesc{
                    width: 100%;
                    border: 2px solid var(--yellow-theme-main-color);
                    padding: 16px 12px;
                    transition:all .5s ease;
                    outline:none;
                    position: relative;
                    background-color: transparent;
                    color:var(--yellow-theme-sub-text-color);
                    font-style: italic;
                    &:focus {
                        box-shadow: none!important;
                        border:  2px solid #fff ;

                        }
                }
                .nameLabel,.emailLabel,.descriptionLabel{
                    font-weight: 500;
                    font-size: 1.2rem;
                    position: absolute;
                    top:15px;
                    left:20px;
                    color:#fff;
                    transition:all 0.2s ease;
                }

                .inputName:focus + .nameLabel, .inputName:valid + .nameLabel,
                .inputEmail:focus + .emailLabel,.inputEmail:valid + .emailLabel,
                .inputDesc:focus + .descriptionLabel, .inputDesc:valid + .descriptionLabel
                {
                    font-size: 1.5rem;
                    top:-20px;
                    left:0;

                }
            }
        }
        button{
            cursor: pointer;
            padding:10px 75px;
            background-color: transparent;
            font-size: 1.7rem;
            font-weight: 500;
            color:var(--yellow-theme-main-color);
            border: 1px solid var(--yellow-theme-main-color);
            border-radius:5px;

            &:hover{
                color:var(--yellow-theme-sub-text-color);
                background: var(--yellow-theme-main-color);
                transition:2s ease;
            }
        }
        }
        
    }
}

@media only screen and (max-width:768px){
    .Contact__content__Form{
        text-align: center;
        width:95%;

        &__ControlsWrapper{
            grid-template-columns: repeat(1,1fr);
        }
    }
}