.navbar {
  background-color: #30039a;;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  box-shadow:inset 0px 0px 8px 5px #4d04d5;
  font-family: "Roboto";
  width:100%;

  &_container {
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0px 20px;
    flex: 1;

    &_logo {
      color: var(--yellow-theme-main-color);
      cursor: pointer;
    }

    &__menu {
      display: flex;
      list-style: none;
      font-family: "Roboto";

      &_itm {
        line-height: 30px;
        margin-right: 1.5rem;
        font-size: 1.6rem;

        &::after {
          content: "";
          display: block;
          height: 3px;
          width: 0;
          background: transparent;
          transition: all 1s ease;
        }

        &:hover::after {
          width: 100%;
          background-color: var(--yellow-theme-main-color);
        }
        &.active a{
          font-family: "Raleway";
          color:#f1f48e;
          font-weight: bold;
          font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
        }

        &_links {
          text-decoration: none;
          color: #f7f6f6;
          padding: 0.5rem;
          font-family: "Roboto";
        }
      }
    }
  }
}

.nav-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar{
    position: fixed;
    top: 0px;
    z-index: 100;
  }
  .navbar_container__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 80px;
    left: -500px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 100;

    &.active {
      background-color: #4b01d5;
      left: 0px;
      border-radius:0px 0px 8px 8px;
    }
    &_itm {
      border-bottom: 1px solid #2d2d2d;
      margin: 5px;
      padding: 0px 0px;
    }
  }
  .nav-icon {
    display: block;
    cursor: pointer;
    padding-right: 20px;
  }
}
