.navbar {
  background-color: #30039a;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  box-shadow:inset 0px 0px 8px 5px #4d04d5;
  font-family: "Roboto";
  width:100%;

  &_container {
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0px 20px;
    flex: 1;

    &_logo {
      color: var(--yellow-theme-main-color);
      cursor: pointer;
      font-size: 2.5rem;
      padding-left:25px;
      font-weight:bold;
        font-family:'Raleway';
    }

    &__menu {
      display: flex;
      list-style: none;
      font-family: "Roboto";

      &_itm {
        line-height: 30px;
        margin-right: 1.5rem;
        font-size: 1.6rem;
        font-weight: bold;
        color: #6803f6;
        cursor: pointer;
        width:100px;
        text-transform: capitalize;
        text-align:center;
        border-radius:2px;

        
        &.active{
          font-family: "Raleway";
          color:#f46005;
          font-weight: bold;
          font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        &_links {
          text-decoration: none;
          padding: 0.5rem;
          font-family: "Roboto";
          background-color: transparent;
          font-weight:bold;
          border-radius: .3em;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          transition: .5s;
          font-weight: 400;
          font-size: 17px;
          border: 1px solid;
          font-family: inherit;
          text-transform: uppercase;
          z-index: 1;
        }
        &_links::before, &_links::after {
          content: '';
          display: block;
          width: 50px;
          height: 50px;
          transform: translate(-50%, -50%);
          position: absolute;
          border-radius: 50%;
          z-index: -1;
          background-color: white;
          font-weight:bold;
          transition: 1s ease;
      }
      &_links::before {
        top: -1em;
        left: -1em;
        }

        &_links::after {
        left: calc(100% + 1em);
        top: calc(100% + 1em);
        }
        &_links:hover::before, &_links:hover::after {
          height: 410px;
          width: 410px;
        }

          &_links:hover {
          color: rgb(88, 12, 252);
          font-weight:bold;

          }
      }
    }
  }
}

.nav-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar{
    position:fixed;
    top: 00px;
    z-index: 100;
    height: 60px;
    border:2px solid yellow;
  }
  .navbar_container__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 80px;
    left: -950px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 100;
    padding:3px; 

    &.active {
      background-color: #4b01d5;
      left: 0px;
      border-radius:0px 0px 8px 8px;
      height: 100%;
      font-weight:bold;
      font-family:'Raleway';
    }
    &_itm {
      font-family:'Raleway';
      border-bottom: 1px solid #2d2d2d;
      margin: 5px;
      padding: 0px 0px;
      width:98.5%;
      pr:5px;
      font-weight:bold;
      background-color:white;
    }
    &_links{
      font-weight:bold;
      font-family:'Raleway';
    }
  }
  .nav-icon {
    display: block;
    cursor: pointer;
    padding-right: 20px;
  }
}
